[Unit]
Description=feedme-core (the radio stream downloader)
After=syslog.target network.target

[Service]
Type=simple
User=niklas
Group=niklas
ExecStart=/var/www/feedme-core/bin/feedme-core /var/www/feedme-core/src/config.production
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target