[Unit]
Description=radioman (the radio stream downloader)
After=syslog.target network.target

[Service]
Type=simple
User=niklas
Group=niklas
ExecStart=/var/www/radioman/bin/radioman /var/www/radioman/etc/config.production
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target